@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body #theme_customize_modal .modal-dialog {
  top: 40px;
}
body #theme_customize_modal .modal-content {
  font-family: sans-serif;
  background: #252931;
  border-top: 1px solid #3B3D44;
  border: none;
  border-radius: 0;
  color: white;
  min-width: 28em;
}
body #theme_customize_modal .modal-header {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: -2px;
  min-height: 15.428571px;
  z-index: 99;
  position: relative;
}
body #theme_customize_modal .modal-header .close {
  color: white;
  position: absolute;
  top: 2px;
  opacity: .9;
  right: 0;
  padding: 0.2em 0.4em;
}
body #theme_customize_modal .modal-header .close :hover {
  opacity: 1;
}
body #theme_customize_modal .modal-header .modal-title span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}
body #theme_customize_modal .modal-body {
  padding: 0 0 15px 0;
}
body #theme_customize_modal .nav.nav-tabs {
  border-bottom: none;
  overflow: hidden;
  border-top: 1px solid #1E2127;
}
body #theme_customize_modal .nav.nav-tabs i {
  font-size: 1.1em;
  margin-right: 3px;
}
body #theme_customize_modal .nav.nav-tabs li {
  border: none !important;
}
body #theme_customize_modal .nav.nav-tabs li a {
  border: 1px solid #232730;
  border-top: 1px solid #1E2127;
  border-bottom: none;
  color: #A2AFB9;
  background-color: #252931;
  font-size: 0.8em;
  margin: 0;
  padding: 13px 15px;
}
body #theme_customize_modal .nav.nav-tabs li:hover a {
  color: #FFF;
}
body #theme_customize_modal .nav.nav-tabs li.active a,
body #theme_customize_modal .nav.nav-tabs li.active:hover a {
  background-color: #303540;
  border-top: 1px solid #1E2127;
  color: #FFF;
}
body #theme_customize_modal .tab-content {
  background-color: #303540;
  padding: 1em 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
body #theme_customize_modal .fonts-preview {
  max-width: 360px;
  padding: 10px;
  overflow: hidden;
  font-size: 0.7em;
}
body #theme_customize_modal label,
body #theme_customize_modal label > div,
body #theme_customize_modal label > img {
  border: none;
  cursor: pointer;
  color: #A8AFBD;
  margin-bottom: 0;
}
body #theme_customize_modal label :hover,
body #theme_customize_modal label > div :hover,
body #theme_customize_modal label > img :hover {
  color: white;
}
body #theme_customize_modal label {
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
body #theme_customize_modal label p {
  font-size: 12px;
  line-height: 20px;
}
body #theme_customize_modal label:hover {
  background-color: rgba(68, 75, 90, 0.5);
  color: white;
}
body #theme_customize_modal label.checked:before {
  content: '\f00c';
  font-family: FontAwesome !important;
  position: absolute;
  display: block;
  top: 0;
  left: 1em;
  height: 100%;
  font-weight: 800;
  color: #16a085;
  z-index: 1;
  font-size: 1.5em;
  text-shadow: 0 1px 0px rgba(8, 31, 12, 0.86);
}
body #theme_customize_modal label.checked,
body #theme_customize_modal label.checked:hover {
  background-color: #444B5A;
  height: 100%;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 11px 15px rgba(0, 0, 0, 0.1);
}
body #theme_customize_modal label.checked p,
body #theme_customize_modal label.checked:hover p {
  color: white;
}
body #theme_customize_modal label.checked > div,
body #theme_customize_modal label.checked:hover > div,
body #theme_customize_modal label.checked > img,
body #theme_customize_modal label.checked:hover > img {
  box-shadow: none;
  border: none;
}
body #theme_customize_modal label:hover {
  background-color: #444B5A;
}
body #theme_customize_modal a.changeTheme {
  color: #D8D8D8;
  text-align: right;
  width: 100%;
  display: block;
  padding-right: .5em;
  padding-top: 1em;
  font-size: 0.8em;
  font-weight: bold;
}
body #theme_customize_modal.loading {
  background: rgba(0, 0, 0, 0.35);
}
body #theme_customize_modal.loading .loading_backdrop {
  opacity: 0.6;
  z-index: 2;
}
body #theme_customize_modal.loading .fa.fa-cog {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
#tab_layout > .row {
  margin-bottom: 1px;
}
#tab_layout > .row:last-child {
  margin-bottom: 0px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi.checked,
body #theme_customize_modal .tab-pane label.chd-layout-combi:hover {
  opacity: 1;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi {
  opacity: 0.8;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi i {
  margin-right: 0;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi > p {
  font-size: 12px;
  line-height: 20px;
  float: left;
  width: 35%;
  font-weight: bold;
  margin-top: 10%;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body {
  border: 1px solid #FFF!important;
  width: 60%;
  position: relative;
  display: block;
  padding: 0;
  margin: 10px 5px 10px 10px!important;
  float: left;
  background: #969397;
  height: 80px;
  overflow: hidden;
  max-width: 250px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.45);
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_browser {
  height: 10px;
  font-size: 0.2em;
  background: #F1F1F1;
  line-height: 9px;
  padding: 0 3px;
  color: #4D4D4D;
  border-bottom: 1px solid rgba(77, 77, 77, 0.26);
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_browser .sample_addressBar {
  background: #FFF;
  border-bottom: 1px solid #E0E0E0;
  height: 6px;
  margin: 2px 5px;
  width: 80%;
  font-size: 3px;
  line-height: 5px;
  text-align: left;
  padding: 0 3px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_browser .fa-circle {
  color: #DD8B22;
  margin-right: 1px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_browser .fa-circle:first-child {
  color: #008000;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_browser .fa-circle:last-child {
  color: #AD2929;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_browser *:hover {
  color: #4D4D4D;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_wrap {
  width: 100%;
  position: relative;
  display: block;
  padding: 0;
  margin: auto!important;
  float: none;
  background: white;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_wrap .sample_header {
  position: relative;
  width: 95%;
  margin: 0 auto 5px;
  height: 20px;
  border-bottom: 1px solid #9C74A3;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_wrap .sample_header h3 {
  padding: 0;
  margin: 0;
  float: left;
  font-size: 11px;
  color: #555555;
  line-height: 20px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_wrap .sample_header p {
  color: #555555;
  padding: 0;
  float: right;
  text-transform: uppercase;
  font-size: 6px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_wrap .sample_header p span {
  width: 7px;
  display: inline-block;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_wrap .sample_content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body .sample_wrap .sample_image {
  background-image: url("/theme_unify/static/src/img/pictures/bg_image_08.jpg");
  background-size: cover;
  background-position: center;
  height: 90px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.boxed .sample_wrap {
  width: 85%;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.boxed .sample_wrap .sample_header {
  border-bottom: none;
  margin-bottom: 0px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.boxed .sample_wrap .sample_content {
  width: 95%;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.postcard .sample_wrap {
  background: rgba(0, 0, 0, 0);
  width: 75%;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.postcard .sample_wrap .sample_header {
  border-bottom: none;
  margin-bottom: 2px;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.postcard .sample_wrap .sample_header h3 {
  color: white;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.postcard .sample_wrap .sample_header p {
  color: white;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .sample_body.postcard .sample_wrap .sample_content .sample_image {
  border-radius: 3px 3px 0 0;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .top-content .sample_wrap {
  width: 100%!important;
  height: 100%;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .top-content .sample_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%!important;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .top-content .sample_content {
  background-color: white;
  width: 75%!important;
  height: 100%;
}
body #theme_customize_modal .tab-pane label.chd-layout-combi .top-content .sample_content p {
  color: #333;
  text-align: center;
}
label.chd-color-combi {
  padding-bottom: 24px;
  margin-bottom: 20px;
  margin: 10px 0;
}
label.chd-color-combi .container-fluid.opt {
  height: 40px;
  margin: 1em 0;
}
label.chd-color-combi .row {
  height: 100%;
  margin-top: 0.6em;
}
label.chd-color-combi .row div {
  height: 100%;
  float: left;
  border-top: 1px solid #2B2B2B;
  border-bottom: 1px solid #2B2B2B;
  width: 16.66666667%;
}
label.chd-color-combi .row div:first-child {
  margin-left: 8.33333333%;
  border-left: 1px solid #2B2B2B;
}
label.chd-color-combi .row div:last-child {
  border-right: 1px solid #2B2B2B;
}
label.chd-color-combi .gardenia .row div:nth-child(1) {
  background-color: #85AFA8;
}
label.chd-color-combi .gardenia .row div:nth-child(2) {
  background-color: #7E566B;
}
label.chd-color-combi .gardenia .row div:nth-child(3) {
  background-color: #85909A;
}
label.chd-color-combi .gardenia .row div:nth-child(4) {
  background-color: #969397;
}
label.chd-color-combi .gardenia .row div:nth-child(5) {
  background-color: #422335;
}
label.chd-color-combi .pacifico .row div:nth-child(1) {
  background-color: #54787D;
}
label.chd-color-combi .pacifico .row div:nth-child(2) {
  background-color: #6B9997;
}
label.chd-color-combi .pacifico .row div:nth-child(3) {
  background-color: #615145;
}
label.chd-color-combi .pacifico .row div:nth-child(4) {
  background-color: #C6CCA5;
}
label.chd-color-combi .pacifico .row div:nth-child(5) {
  background-color: #412342;
}
label.chd-color-combi .blackmath .row div:nth-child(1) {
  background-color: #456F74;
}
label.chd-color-combi .blackmath .row div:nth-child(2) {
  background-color: #EB5937;
}
label.chd-color-combi .blackmath .row div:nth-child(3) {
  background-color: #403D3C;
}
label.chd-color-combi .blackmath .row div:nth-child(4) {
  background-color: #1C1919;
}
label.chd-color-combi .blackmath .row div:nth-child(5) {
  background-color: #D3CBBD;
}
label.chd-color-combi .mwad .row div:nth-child(1) {
  background-color: #23C59E;
}
label.chd-color-combi .mwad .row div:nth-child(2) {
  background-color: #FF5B5B;
}
label.chd-color-combi .mwad .row div:nth-child(3) {
  background-color: #FFE9C7;
}
label.chd-color-combi .mwad .row div:nth-child(4) {
  background-color: #545445;
}
label.chd-color-combi .mwad .row div:nth-child(5) {
  background-color: #2D2D36;
}
label.chd-fonts-combi {
  margin-top: 10px;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations > .row {
  margin-bottom: 23px;
  border-bottom: 1px solid rgba(37, 41, 49, 0.51);
  padding-bottom: 10px;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations h5 {
  color: #A2AFB9;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations i.help {
  margin-left: 10px;
  font-size: 0.8em;
  top: 6px;
  position: absolute;
  cursor: pointer;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations i.help:hover {
  color: #fff;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations label.checked:before {
  content: none;
  display: none;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations label.on.checked {
  height: 30px;
  background-color: #16A053;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations label.off.checked {
  height: 30px;
  background-color: #B34747;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations label {
  width: 48%;
  float: left;
  margin-right: 1%;
  height: 32px;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations .col-xs-6 {
  padding: 0;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations .col-xs-6 label {
  width: 45%;
}
body #theme_customize_modal .modal-content .modal-body #tab_animations .col-xs-6 label h6 {
  font-weight: bold;
}
